welcome to Ansible Training 
your server name is {{ ansible_fqdn }}
this training is based on ex294 certification
your os family is {{ ansible_distribution }}
ip address of system is {{ ansible_default_ipv4.address }}
